body,
html {
    margin: 0px;
    padding: 0px;
    background-color: #F5E8C7;
}

.logo {
    margin: 0;
    padding:0;
    background-color: #DEB6AB;
}

.logo1 {
    display:inline-block;
    /* display: inline-block; */
    margin-left: 300px;
    width: 300px;
}

.logo2 {
 
    display: inline-block;
    /* margin-left: 8%; */
    width: 300px;
}


/* #form {
    background-color:;
    /* margin-right: 100px; */
/* padding-bottom: 5%; */
/* margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 10px; */
/* } */

/* .form_input {
    padding-bottom: 47px;
    font-family: 'Montserrat', sans-serif;
    font-weight:400;
    color: #EF5B0C;
    background-color: black;
    border-radius: 5px;
    padding: 2px;
    font-size: 12px;
} */

.form_inputs {

    padding: 15px;
    background-color: #FFFFFF;
    margin: 10px;
    width: 250px;
    height: 45px;
    border-radius: 5px;
    border: none;
}

.form_inputs:focus {
    outline: none;
}

::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #222831;
    opacity: 1;
    padding: 10px;
    /* Firefox */
}

::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #222831;
    padding: 10px;
}

::-webkit-input-placeholder {
    /* Chrome */
    color: #222831;
    padding: 10px;
    transition: opacity 250ms ease-in-out;
}

:focus::-webkit-input-placeholder {
    opacity: 0.5;
    padding: 10px;
}

/* .form_l { */
/* margin-left: 120px; */
/* margin-top: 85px; */

/* position: absolute;
    margin-left: 20%;
    margin-top: 120px;
    text-align: left;
    /* padding: 10px; */
/* z-index: 1; */

/* } */



.final_follow {
    display: flex;
    justify-content: center;
    margin: 20px;
}

#final {

    width: 20px;
    height: 18px;
}

#final::after {
    background-color: aliceblue;


}

.lable {
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    padding-left: 15px;
}

#button_generate {

    display: flex;
    justify-content: center;
    margin-top: 25px;
}


#button {
    font-family: 'Montserrat', sans-serif;
    display: inline-block;
    outline: 0;
    border: 0;
    cursor: pointer;
    transition: box-shadow 0.15s ease, transform 0.15s ease;
    will-change: box-shadow, transform;
    background: #AC7088;
    box-shadow: 0px 2px 4px rgb(45 35 66 / 40%), 0px 7px 13px -3px rgb(45 35 66 / 30%), inset 0px -3px 0px #AC7088;
    height: 48px;
    padding: 0 32px;
    font-size: 18px;
    border-radius: 6px;
    color: #FFFFFF;
    transition: box-shadow 0.15s ease, transform 0.15s ease;
}

#button:hover {
    background: #66BFBF;
    box-shadow: 0px 4px 8px rgb(45 35 66 / 40%), 0px 7px 13px -3px rgb(45 35 66 / 30%), inset 0px -3px 0px #66BFBF;
    transform: translateY(-2px);
}

#button:active {
    box-shadow: inset 0px 3px 7px #d6d6e7;
    transform: translateY(2px);
}

#paragraph {

    background-color: #ECCCB2;
    /* margin-top: 78px;
    margin-bottom: 78px;
    margin-left: 50%; */
    width: 70%;
    padding: 5%;
    border-radius: 5px;
    box-shadow: #DEB6AB 0px 3px 8px;
    display: none;

}

.email_body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}



.form_r {
    /* padding: 100px 100px; */
    /* display: inline-block; */
    /* text-align: center; */
    background-color: #ECCCB2;
    padding: 50px;
    /* margin-top: 80px;
    margin-left: 10%; */
    border-radius: 5px;
    box-shadow: #DEB6AB 0px 3px 8px;

}

.signature {
    font-family: 'Recursive', sans-serif;
    font-weight: 400;
    font-size: 15px;
    padding-top: 20px;
    padding-left: 20px;
    margin-bottom: 0;
}

.signature_name {
    font-family: 'Bangers', cursive;
    color: #013c4d;
    font-size: 24px;
    font-weight: 400;
}
.website{
    color: royalblue;
    text-decoration: underline;
}

.signature_image {
    position: absolute;
    text-align: left;
    margin-top: 1px;
    width: 210px;
    height: 55px;
}

#copy {
    position: relative;
    width: 300px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    height: 30%;
    margin-left: 55%;
    margin-top: 0;
    padding: 10px 12px;
}

.copy-button {
    width: 100px;
    height: 45px;
    font-family: 'Montserrat', sans-serif;


    /* -webkit-border-radius: 5;
    -moz-border-radius: 5;
    border-radius: 5px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: white;
    background-color: #AC7088;
    font-size: 15px;
    padding: 8px;
    border: none;
    text-decoration: none; */


    outline: 0;
    border: 0;
    cursor: pointer;
    transition: box-shadow 0.15s ease, transform 0.15s ease;
    will-change: box-shadow, transform;
    background: #AC7088;
    box-shadow: 0px 2px 4px rgb(45 35 66 / 40%), 0px 7px 13px -3px rgb(45 35 66 / 30%), inset 0px -3px 0px #AC7088;
    height: 48px;
    font-size: 18px;
    border-radius: 6px;
    color: #FFFFFF;
    transition: box-shadow 0.15s ease, transform 0.15s ease;


}

.copy-button:hover {
    background: #DEB6AB;
    box-shadow: 0px 4px 8px rgb(45 35 66 / 40%), 0px 7px 13px -3px rgb(45 35 66 / 30%), inset 0px -3px 0px #DEB6AB;
    transform: translateY(-2px);
}

.copy-button:active {
    box-shadow: inset 0px 3px 7px #d6d6e7;
    transform: translateY(2px);
}

/* .copy-button:hover{
    background: #DEB6AB;
    text-decoration: none;
} */

.row1 {
    width: 100%;
    height: 60vh;
    margin: 0%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 50px;
}

.all {
    display: none;
}

.main {
    display: inline-flex;
    position: relative;

}

#reset-form {
    font-family: 'Montserrat', sans-serif;
    width: 100px;
    height: 45px;
    margin-left: 15px;

    display: inline-block;
    outline: 0;
    border: 0;
    cursor: pointer;
    transition: box-shadow 0.15s ease, transform 0.15s ease;
    will-change: box-shadow, transform;
    background: #F77E21;
    box-shadow: 0px 2px 4px rgb(45 35 66 / 40%), 0px 7px 13px -3px rgb(45 35 66 / 30%), inset 0px -3px 0px #F77E21;
    height: 48px;
    /* padding: 0 32px; */
    font-size: 18px;
    border-radius: 6px;
    color: #FFFFFF;
    transition: box-shadow 0.15s ease, transform 0.15s ease;


}

#reset-form:hover {
    background: #DEB6AB;
    box-shadow: 0px 4px 8px rgb(45 35 66 / 40%), 0px 7px 13px -3px rgb(45 35 66 / 30%), inset 0px -3px 0px #DEB6AB;
    transform: translateY(-2px);
}
